:root {
    --primary-background-color: 250, 250, 250; /* White f1dfde  241,223,222 */
    --secondary-background-color: 21,21,21; /* dark grey 151515 */
    --secondary-background-color-item: 54,54,54; /* dark grey rgb(28,26,30) */
    --secondary-background-color-item-hover: 111, 110, 118; /* dark grey */
    --text-color:  250, 250, 250; /* White */
    --accent-orange: 250, 184, 106;
}
